@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

header {
    background-image: url(../css/peyne.jpg);
    height: 900px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

header div {
    position: relative;
    top: 30%;
}

header div .title {
    display: flex;
    justify-content: flex-end;
    color: honeydew;
    letter-spacing: 2px;
    font-size: 110px;
    cursor: default;
    font-family: "Times New Roman", Times, serif;
}

header div h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: honeydew;
    letter-spacing: 2px;
    cursor: default;
    font-family: "Times New Roman", Times, serif;
}

@media (max-width: 900px) {
    body header div .title {
        font-size: 65px;
    }
    body header div h3 {
        font-size: 14px;
    }
}

.main #image {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
}

.main #img-caption p {
    font-size: 12px;
    text-align: center;
}

.main #tribute-info h2 {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.main #tribute-info #tribute-link {
    text-decoration: none;
    color: red;
}

.main #tribute-info #tribute-link:hover {
    color: indigo;
}

.biografia p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.biografia article p span {
    width: 250px;
    float: right;
    text-align: right;
    margin: 15px 0 15px 15px;
    font-size: 25px;
    color: #999;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
}

.biografia article p span:before,
.biografia article p span:after {
    content: '"';
}

section,
article,
div {
    margin-left: 20px;
    margin-right: 20px;
}

.final {
    background-image: url(./img3.jpg);
    background-position: center;
    /* background-size: cover; */
    background-attachment: fixed;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
}

.comentario {
    background: rgb(75, 67, 67, 0.5);
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.comentario p {
    text-align: center;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: honeydew;
    padding: 30px;
}

footer {
    text-align: center;
    font-size: 14px;
}